.badge {
  border-radius: 50%;
  background-color: var(--green-color);
  position: absolute;
}

.rating-row.bdg {
  display: flex;
  padding: 4px;
  border-radius: 2px;
  align-items: center;
  background-color: var(--light-grey);
}
.rating-row.bdg .badge-star {
  font-size: 1rem;
}
.rating-row.bdg .badge-circle {
  font-size: 3px;
  color: var(--grey);
}

.avatar.lg i {
  width: 2rem;
  height: 2rem;
}
.avatar.md i {
  width: 1.5rem;
  height: 1.5rem;
}
.avatar.rg i {
  width: 1.1rem;
  height: 1.1rem;
}
.avatar.sm i {
  width: 10px;
  height: 10px;
}

.badge-left {
  left: 0;
  bottom: 5px;
}
.badge-right {
  right: 0;
  bottom: 0px;
}

.pos-rel {
  position: relative;
}

.badge-grey {
  background-color: var(--grey);
}

.icon-badge {
  background-color: var(--primary-color);
  width: 35px;
  height: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-badge i {
  font-size: 17px;
  color: var(--neon-color);
}

.text-badge {
  width: fit-content;
  padding: 5px 7px;
  border-radius: 3px;
}

.text-badge.primary {
  color: var(--neon-color);
  background-color: var(--primary-color);
}
.text-badge.secondary {
  color: var(--neon-color);
  background-color: var(--hot-pink-color);
}

.num-badge {
  text-align: center;
  background-color: var(--hot-pink-color);
  width: fit-content;
  height: fit-content;
  min-width: 1.7rem;
  min-height: 1.7rem;
  padding: 5px;
  top: -15px;
  right: -13px;
}
.num-sm-badge {
  text-align: center;
  background-color: var(--hot-pink-color);
  width: fit-content;
  height: fit-content;
  min-width: 1.7rem;
  min-height: 1.7rem;
  padding: 5px;
  top: -5px;
  right: -5px;
}
