# Dependencies
node_modules/

# Production build
dist/

# Development
.cache/
.parcel-cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Stats
stats.json