.sidenav {
  display: flex;
  flex-direction: column;
  gap: 35px;
  z-index: 1;
  padding-left: 30px;
  height: 100%;
  width: 230px;
  padding-top: 40px;
  position: fixed;
  background-color: var(--primary-color);
}

.sidenav-container {
  overflow: scroll;
  height: 90%;
}

.sidenav-section {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 10px;
}

.sidenav-section a {
  margin-left: 35px;
}

.sidenav-item.title {
  color: var(--light-grey);
  width: fit-content;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
}
/* .sidenav-item.title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--violet-color);
} */
.sidenav-item.sidenav-txt {
  text-decoration: none;
  font-size: 1.35rem;
  display: block;
  color: var(--grey);
  font-weight: 500;
  padding: 5px 0px;
  position: relative;
  width: fit-content;
}
.sidenav-item.sidenav-txt::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--violet-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.sidenav-item.sidenav-txt:hover {
  cursor: pointer;
}

.sidenav-item.sidenav-txt:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
